.wrapper {
  min-height: 100vh;
  background-image: url("../../assests/images/slide-one.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contentWrapper {
  width: 85%;
  margin: 0 auto;
}

.headline {
  margin-top: 35vh;
  font-family: HelveticaNeue;
  font-size: 11vh;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  color: #ffffff;
  text-align: left;
  float: left;
  width: 50%;
  position: absolute;
}

.subhead {
  margin-top: 38vh;
  font-family: HelveticaNeue;
  font-size: 2vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
  float: right;
  width: 30%;
  position: relative;
}

.footer {
  width: 85%;
  height: 20%;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
}

.ctaText {
  width: 50%;
  margin: 5vh 0 0 0;
  font-family: HelveticaNeue;
  font-size: 3vh;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  color: #000000;
  float: left;
  text-align: center;
}

.ctaButton {
  width: 50%;
  margin: 5.5vh 0 0 0;
  font-family: HelveticaNeue;
  font-size: 1.5vh;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
  text-align: center;
  float: right;
  cursor: pointer;
}

.arrow {
  border: solid #ffc001;
  border-width: 0 0.2vh 0.2vh 0;
  display: inline-block;
  padding: 0.5vh;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 1.1vh 0 0 1vh;
}

.navbarWrapper {
  width: 100%;
  margin: 0 auto;
  /* text-align: center; */
}

.logoTabs {
  float: left;
  margin: 3vh 0 0 0;
}

.logo {
  cursor: pointer;
}

.tabs {
  color: #ffffff;
  text-align: left;
  margin: 3vh 0 0 0;
  cursor: pointer;
  font-weight: bold;
}

.contactText {
  font-family: HelveticaNeue;
  border: solid white 0.2vh;
  padding: 2vh;
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  float: right;
  cursor: pointer;
  margin: 3vh 7vh 0 0;
}
